.about {
  background: $color-background-light;
  padding: $margin-medium;
  border: 1px solid $color-border;
  border-radius: $radius-base;
  max-width: 720px; // TODO
  margin-left: auto;
  margin-right: auto;
}
