.app {
  background: $color-background-light;
  padding: $margin-medium;
  border: 1px solid $color-border;
  border-radius: $radius-base;

  .banner {
    display: flex;
    flex-direction: row;

    &__logo {
      width: 10rem;
      height: 10rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: $margin-medium;
    }

    &__content {
      flex: 1;
      justify-content: space-between;
      display: flex;
      flex-direction: row;

      .content__column {
        display: flex;
        flex-direction: column;

      }

      h2 {
        margin: $margin-base 0;
      }

      h3 {
        margin: 0 0 $margin-medium 0;
      }

      .open {
        display: block;
        text-decoration: none;
        background: $color-theme;
        color: $color-title;
        border-radius: $radius-base;
        padding: $margin-base $margin-medium;
      }

      .categories {
        > ul {
          display: flex;
          flex-direction: row;
          margin: 0;
          padding: 0;

          > li {
            list-style: none;
            padding: $margin-small;
            border: 1px solid $color-border;
            border-radius: $radius-base;

            &:not(:first-child) {
              margin-left: $margin-small;
            }

            > a {
              text-decoration: none;
              color: $color-text;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  .content {
    margin-top: $margin-medium;

    &__images {
      display: flex;
      flex-direction: row;
      overflow: auto hidden;

      > img {
        max-height: 400px;
        border-radius: $radius-base;

        &:not(:last-child) {
          margin-right: $margin-medium;
        }
      }
    }

    &__description {
      margin-top: $margin-medium;
    }
  }
}
