header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: $color-theme;
  padding: 0 $margin-base;

  a {
    text-decoration: none;
    color: $color-title;
  }

  .hamburger {
    display: none;
    outline: none;
    border: none;
    padding: $margin-small;

    .hamburger-inner {
      background: $color-title !important;

      &:before {
        background: $color-title !important;
      }

      &:after {
        background: $color-title !important;
      }
    }

    @include breakpoint(xs) {
      display: inline-block;
    }
  }
}
