@import "variables";
@import "header";

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;

  > .content {
    flex: 1;
    overflow: auto;
  }
}
