@import "variables";
@import "header";
@import "navbar";
@import "app";
@import "category";
@import "app_badge";

html, body {
  margin: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: $color-background-dark;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;

  > .content {
    flex: 1;
    overflow: auto;
    padding: $margin-medium;
  }
}
