@import "variables";
@import "header";
@import "navbar";
@import "about";
@import "app";
@import "category";
@import "app_badge";

@font-face {
  font-family: $font-family;
  src: url(/assets/fonts/Roboto-Regular.ttf) format('truetype');
}

html, body {
  margin: 0;
  height: 100%;

  font-family: $font-family, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background: $color-background-dark;
}

main {
  display: flex;
  flex-direction: row;
  flex: 1;
  overflow: hidden;

  > .content {
    flex: 1;
    overflow: hidden auto;
    padding: $margin-medium;

    @include breakpoint(xs) {
      padding: 0;
    }
  }
}
