nav {
  background: $color-background-light;
  border-right: 1px solid $color-border;

  ul {
    margin: 0;
    padding: 0;

    > li {
      list-style: none;
      border-bottom: 1px solid $color-border;

      > a {
        display: block;
        text-decoration: none;
        color: $color-text;
        padding: $margin-base ($margin-large + $margin-medium) $margin-base $margin-medium;

        &:hover {
          background: $color-background-dark;
        }
      }

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}
