$margin-base: 1rem;
$margin-small: $margin-base / 2;
$margin-medium: $margin-base * 2;
$margin-large: $margin-base * 4;

$radius-base: 2px;

$color-background-dark: #eee;
$color-background-light: #fff;
$color-theme: green;
$color-text: black;
$color-title: white;
$color-border: lightgray;

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
