$margin-base: 1rem;
$margin-small: $margin-base / 2;
$margin-medium: $margin-base * 2;
$margin-large: $margin-base * 4;

$radius-base: 2px;

$color-pri: #cfd8dc;
$color-pri-light: #ffffff;
$color-pri-dark: #E1E2E1;
$color-sec: #c8e6c9;
$color-text-pri: #000000;

$color-background-dark: $color-pri-dark;
$color-background-light: $color-pri-light;
$color-theme: $color-sec;
$color-text: $color-text-pri;
$color-title: $color-text-pri;
$color-border: $color-pri-dark;

$box-shadow: 0 2px 4px rgba(120, 120, 120, 0.1);

$font-family: 'Roboto';

@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: 768px) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: 992px) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: 1200px) { @content; }
  }
 
  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}
