$margin-base: 1rem;
$margin-small: $margin-base / 2;
$margin-large: $margin-base * 2;
$margin-extra-large: $margin-base * 4;

$radius-base: 2px;

$color-background-dark: #eee;
$color-background-light: #fff;
$color-theme: green;
$color-text: black;
$color-title: white;
$color-border: lightgray;
